<!DOCTYPE html>
<html>
<head>
  <title>Edit</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="nav">
  <a href="/">Home</a>
  <a href="/students">Students</a>
</div>

<h1>Edit Student</h1>

<div class="form-container">
<form action="/edit/<%= student.id %>?_method=PUT" method="POST">

  <input name="student_id" value="<%= student.student_id %>">
  <input name="full_name" value="<%= student.full_name %>">
  <input name="course" value="<%= student.course %>">
  <input name="year_level" value="<%= student.year_level %>">
  <input name="email" value="<%= student.email %>">

  <button type="submit">Update</button>

</form>
</div>

</body>
</html>